.calendar {
  width: 100%;
  height: calc(100vh - 150px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.calendar .day {
  padding: 1rem;
  font-size: 14px;
  transition: all 300ms linear;
}

.calendar .day:nth-child(odd),
.calendar .paddingDay:nth-child(odd) {
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.calendar .day:nth-child(even),
.calendar .paddingDay:nth-child(even) {
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.calendar .day:hover,
.calendar .day.currentDay {
  /* color: var(--main-color); */
  /* color: #ffffff; */
  -moz-box-shadow: 0px 0px 5px var(--main-color);
  -webkit-box-shadow: 0px 0px 5px var(--main-color);
  box-shadow: 0px 0px 5px var(--main-color);
  /* background: var(--secondary-dark); */
  cursor: pointer;
}
