header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.monthYearDisplay span {
  color: var(--main-color);
}

header button {
  border: 1px solid #e9e9e9;
  padding: 0.3em;
  background: transparent;
  color: var(--main-color);
  transition: all 350ms linear;
  outline: none;
}

header button:hover {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.themeToggle input[type="checkbox"] {
  display: none;
}

.themeToggle label {
  height: 26px;
  width: 55px;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-radius: 50px;
  position: relative;
}

.themeToggle label > svg {
  width: 17px;
  height: 17px;
}

.themeToggle label > .ball {
  width: 22px;
  height: 22px;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.themeToggle input[type="checkbox"]:checked + label .ball {
  transform: translateX(29px);
}
